.header {
    margin: 20px 0;
    width: 979px;
    height: 39px;
    display: flex;
    justify-content: space-between;

    button.trash {
        background-color: red;
        height: 40px;
        width: 50px;
        border-radius: 10px;
        border: none;
    }

    button.close {
        background-color: white;
        height: 40px;
        width: 40px;
        border: none;
    }
}

.body {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .item {
        width: 979px;
        height: 443px;
        display: flex;
        justify-content: space-between;

        img {
            width: 508px;
            height: 443px;
            border-radius: 10px;
        }

        .itemDetail {
            height: 443px;
            width: 425px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 42;

            .select {
                display: flex;
                justify-content: space-between;

                button {
                    height: 40px;
                    width: 100px;
                    border-radius: 10px;
                }
            }

            .Buy {
                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                    height: 57px;
                    width: 142px;
                    border: none;
                    border-radius: 10px;
                    background-color: red;
                    color: white;

                }

                .Qty {
                    height: 42px;
                    width: 126px;
                    display: flex;
                    justify-content: space-between;

                    button {
                        background-color: red;
                        height: 42px;
                        width: 42px;
                        border-radius: 10px;
                        border: none;
                        color: white;
                    }

                    align-items: center;
                }
            }
        }
    }

    .intro {
        width: 979px;
    }

    .listComment {
        height: 198px;
        width: 979px;
        border: 1px solid gray;
        border-radius: 8px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .logoName {
            display: flex;
            gap: 5px;
            align-items: center;

            img {
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }
        }

        hr {
            width: 947px;
            border: 1px solid gray;
        }

        .submit {
            display: flex;
            flex-direction: row-reverse;

            button {
                height: 44px;
                width: 108px;
                border: none;
                border-radius: 8px;
                background-color: blue;
                color: white;
            }
        }
    }

    hr {
        width: 979px;
    }

    .comment {
        height: 198px;
        width: 979px;
        border: 1px solid gray;
        border-radius: 8px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .logoName {
            display: flex;
            gap: 5px;
            align-items: center;

            img {
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }
        }

        .status {
            display: flex;
            justify-content: space-between;

            button {
                height: 40px;
                width: 50px;
                border: none;
                border-radius: 8px;
                background-color: red;
                color: white;
            }
        }
    }
}